.rowStyle {
  display: inline;
  float: left;
  padding-left: 1%;
}

.cellStyle {
  /* Rectangle 1 */

  /* position: absolute; */
  width: 102px;
  height: 98px;

  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  transition: transform .5s;
  cursor: pointer;
  user-select: none;
}


.cellStyle:hover {
    transform: scale(105%);
}

.restartStyle {
  position: absolute;
  display: inline;
  left: 1%;
  bottom: 1%;
  padding-left: 1%;
}