.headerStyle {
  width: 50%;
  height: 47px;
  padding-left: 25%;

  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 45px;
  letter-spacing: -0.02em;

  text-align: center;

  color: #742bad;
}

.gridStyle {
  display: grid;
  /* grid-template-columns: 100% 1fr; */
  grid-template-rows: 90% 1fr;
  margin-left: auto;
  margin-right: auto;
}

.rowStyle {
  display: inline;
  float: left;
  padding-left: 1%;
}

.cellStyle {
  /* Rectangle 1 */

  /* position: absolute; */
  width: 102px;
  height: 98px;

  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  transition: transform 0.5s;
  cursor: pointer;
  user-select: none;
}

.cellStyle:hover {
  transform: scale(105%);
}

.restartStyle {
  grid-area: auto;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-left: 1%;
}
